<a href="https://colab.research.google.com/github/caduunisal/Python/blob/master/PythonTests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import io
import requests

url = "https://raw.githubusercontent.com/alura-cursos/formacao-data-science/master/movies.csv"
filmes = pd.read_csv(url)
filmes.columns = ["ID", "Titulo", "Genero"]
filmes.head()

   ID  ...                                       Genero
0   1  ...  Adventure|Animation|Children|Comedy|Fantasy
1   2  ...                   Adventure|Children|Fantasy
2   3  ...                               Comedy|Romance
3   4  ...                         Comedy|Drama|Romance
4   5  ...                                       Comedy

[5 rows x 3 columns]